.toolbar-list {
  display: flex;
  margin: 1rem auto;
  justify-content: space-around;
  width: 45%;
  list-style: none;
}

.toolbar-item {
  min-width: 40px;
  margin-right: 0.5rem;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.toolbar-item:last-child {
  margin-right: 0;
}

.toolbar-item__selected {
  background-color: black;
  color: white;
}

.toolbar-item:hover {
  cursor: pointer;
  background-color: darkgray;
}

.toolbar-item:focus {
  background-color: darkgray;
  border: 1px solid darkgray;
}
